{% extends 'base.html.twig' %}

{% block body %}
<table class="table">
    <thead class="thead">
        <tr class="tr">
            <th>TimeStamp</th>
            <th>Co</th>
            <th>No</th>
            <th>So</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr class="tr">
            {% for table in data %}
            <td class="td">{{ table.TimeStamp }}</td>
            <td class="td">{{ table.Co }}</td>
            <td class="td">{{ table.No }}</td>
            <td class="td">{{ table.So }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<canvas id="ctx"></canvas>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="{{ asset('js/chartOfReadings.js') }}"></script
{% endblock %}