<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Pollution Data | Pollutometer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
</head>
<body>
<table border="1">
    <tr>
        <th>TimeStamp</th>
        <th>Co</th>
        <th>No</th>
        <th>So</th>
    </tr>
    <tr>
        {% for table in data %}
        <td>{{ table.TimeStamp }}</td>
        <td>{{ table.Co }}</td>
        <td>{{ table.No }}</td>
        <td>{{ table.So }}</td>
    </tr>
    {% endfor %}
</table>
<canvas id="ctx"></canvas>
</body>
{% block javascripts %}
    <script src="{{ asset('js/chartOfReadings.js') }}"></script
{% endblock %}
</html>