{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <table>
            <tr>
                <th>TimeStamp</th>
                <th>Co</th>
                <th>No</th>
                <th>So</th>
            </tr>
            <tr id="latest">
                <td>{{ TimeStamp }}</td>
                <td>{{ Co }}</td>
                <td>{{ No }}</td>
                <td>{{ So }}</td>
            </tr>
        </table>
    </div>
    <a href="/AllDataReadings">All Data Page</a>

    <p id="aq">The current air quality index is <strong>{{ Aqi }}</strong></p>
    <img src="https://www.ourair.org/wp-content/uploads/AQItable.gif">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/realtime.js') }}"></script>
{% endblock %}
