{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column">
            <table class="table">
                <thead class="thead">
                <tr class="tr">
                    <th class="td">TimeStamp</th>
                    <th class="td">Co</th>
                    <th class="td">No</th>
                    <th class="td">So</th>
                </tr>
                </thead>
                <tbody class="tbody">
                <tr id="latest" class="tr">
                    <td class="td">{{ TimeStamp }}</td>
                    <td class="td">{{ Co }}</td>
                    <td class="td">{{ No }}</td>
                    <td class="td">{{ So }}</td>
                </tr>
                </tbody>
            </table>
            <p id="aq">The current air quality index is <strong>{{ Aqi }}</strong></p>
        </div>
        <div class="column">
            <img src="https://www.ourair.org/wp-content/uploads/AQItable.gif">
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/realtime.js') }}"></script>
{% endblock %}
