{% extends 'base.html.twig' %}

{% block body %}
<table class="table">
    <thead class="thead">
    <tr class="tr">
        <th>Name</th>
        <th>Time</th>
        <th>Date</th>
        <th>Destination</th>
        <th>AQI</th>
    </tr>
    </thead>
    <tbody class="tbody">
    <tr class="tr">
        {% for table in data %}
        <td class="td">{{ table.name }}</td>
        <td class="td">{{ table.time }}</td>
        <td class="td">{{ table.date }}</td>
        <td class="td">{{ table.finalStop }}</td>
        <td class="td">{{ table.direction }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
{% block javascripts %}
{% endblock %}